In [2]:
import duckdb
from market_streaming.domain.models import MarketTick

In [7]:
from pathlib import Path
PROJECT_ROOT = Path.cwd().parents[0]  # adjust if you launch Jupyter from root
DB_PATH = PROJECT_ROOT / "data" / "market_data.duckdb"

con = duckdb.connect(str(DB_PATH))
con.execute("SELECT * FROM market_ticks LIMIT 10").fetchdf()

                   ts symbol    price  volume
0 2025-12-01 09:00:00  SP500  4710.04  323264
1 2025-12-01 09:05:00  SP500  4718.01  375005
2 2025-12-01 09:10:00  SP500  4649.09  381444
3 2025-12-01 09:15:00  SP500  4641.73  341846
4 2025-12-01 09:20:00  SP500  4704.77  202593
5 2025-12-01 09:25:00  SP500  4722.25  381851
6 2025-12-01 09:30:00  SP500  4651.30  264484
7 2025-12-01 09:35:00  SP500  4704.39  268830
8 2025-12-01 09:40:00  SP500  4734.95  347637
9 2025-12-01 09:45:00  SP500  4650.66  457487

In [9]:
con.execute("SELECT * FROM pipeline_metrics ORDER BY run_started_at DESC").fetchdf()

,run_started_at,run_ended_at,elapsed_seconds,messages_processed,errors,max_timestamp
0,2025-12-28 12:58:56.443472,2025-12-28 12:59:25.025711,28.582213,150,0,2025-12-01 13:05:00

In [10]:
con.execute("""
    SELECT
        run_started_at,
        messages_processed,
        elapsed_seconds,
        messages_processed / NULLIF(elapsed_seconds, 0) AS msgs_per_sec
    FROM pipeline_metrics
    ORDER BY run_started_at
""").fetchdf()

,run_started_at,messages_processed,elapsed_seconds,msgs_per_sec
0,2025-12-28 12:58:56.443472,150,28.582213,5.248019